.home-button {
  background-color: #FDC913;
}
.navbar {
  background-color: #CE2829;
}
.anasayfa {
  color: white;
}
.ek div {
  display:flex ;
  justify-content: space-between;
}
.fiyat {
  font-size: xx-large;
  font-weight: bold;
}
.butonlar button {
  background-color: #FDC913;

}